<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info row">
            <div class="col-6 card-title">
              <h4 class="card-title">
                {{'sidebar.companyUsers'|translate}}
              </h4>
            </div>

            <div class="col-6" style="display: flex;justify-content: end;">
              <button (click)="createObject()" class="ml-4"
                style="background-color: white !important;color: #8D493A;"
                fxFlex="none" mat-mini-fab
                matTooltip="{{'buttons.add' | translate}}"
                matTooltipClass="primary-tooltip" type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>

          <div class="card-body">
            <div class="table-responsive" style="text-align: start;">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let column of displayedColumns;">
                    {{column|translate}}
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dataSource; let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{data.name}}
                    </td>
                    <td>
                      {{data.email}}
                    </td>
                    <td>
                      {{data.idNumber}}
                    </td>
                    <td>
                      {{data.phoneNumber}}
                    </td>
                    <td>
                      {{data.companyName}}
                    </td>
                    <td>
                      {{data.countryName}}
                    </td>
                    <td>
                      {{data.registerationDate|date : 'medium':'':'en-US' }}
                    </td>
                    <td class="actions row" style="max-width: 110px;">
                      <div class="col-6">
                        <button mat-mini-fab color="primary"
                          *ngIf="!data.status" (click)="Update(data)"
                          matTooltip="{{'buttons.edit'|translate}}">
                          <span
                            class="material-symbols-outlined">edit</span>
                        </button>
                      </div>

                      <div class="col-6">
                        <button mat-mini-fab color="warn" *ngIf="!data.status"
                          (click)="deleteObject(data)"
                          matTooltip="{{'buttons.delete'|translate}}">
                          <span
                            class="material-symbols-outlined">delete</span>
                        </button>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
              <mat-paginator (page)="handlePaginator($event)"
                [length]="totalCount" showFirstLastButtons
                [pageSize]="MatPaginatorSize?.pageSize"
                [pageSizeOptions]="MatPaginatorSize?.pageSizeOptions"
                aria-label="Select page">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
