<div class="auth-container">
  <div class="row auth-main left-img"
    style="background-image: url(./assets/img/auth-backgrounds/auth-background-1.jpg)">

    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <form class="auth-wrapper" [formGroup]="form" *ngIf="form">
          <h2 class="login-title">{{'ChangePassword'|translate}}</h2>
          <div class="row">
            <mat-form-field appearance="outline"
              class="col-sm-12 px-0 d-none d-sm-block">
              <mat-label>{{'changePassword.currentPassword'|translate}}</mat-label>
              <input matInput [type]="hideCurrentPassword ? 'password' : 'text'"
                formControlName="currentPassword">
              <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
                [attr.aria-pressed]="hideCurrentPassword">
                <mat-icon matSuffix>{{hideCurrentPassword ? 'visibility_off' :
                  'visibility'}}</mat-icon>
              </button>
              <mat-icon matPrefix>lock</mat-icon>
              <mat-error
                *ngIf="form.get('currentPassword').hasError('required') && form.get('currentPassword').touched">
                {{"messages.This field is required" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline"
              class="col-sm-12 px-0 d-none d-sm-block">
              <mat-label>{{'changePassword.newPassword'|translate}}</mat-label>
              <input matInput [type]="hideNewPassword ? 'password' : 'text'"
                formControlName="newPassword">
              <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-pressed]="hideNewPassword">
                <mat-icon matSuffix>{{hideNewPassword ? 'visibility_off' :
                  'visibility'}}</mat-icon>
              </button>
              <mat-icon matPrefix>lock</mat-icon>
              <mat-error
                *ngIf="form.get('newPassword').hasError('required') && form.get('newPassword').touched">
                {{"messages.This field is required" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row" style="color: white;">

            <!-- <div class="example-button-container">
                          <button mat-flat-button color="accent" matTooltip="{{'Clear'|translate}}" (click)="clearForm()">
                            {{'Reset'|translate}}
                          </button>
                      </div> -->

            <button style="width: 100%;" mat-flat-button color="primary"
              [disabled]="!form.valid"
              (click)="submit()">
              <!-- <mat-icon style="color: pink;">close</mat-icon> -->
              {{'buttons.submit'|translate}}
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>