<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info row">
            <div class="col-6 card-title">
              <h4 class="card-title">
                {{'sidebar.dataEntryCharacteristics'|translate}}
              </h4>
            </div>

          </div>

          <div class="card-body">
            <div class="table-responsive" style="text-align: start;">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let column of displayedColumns;">
                    {{column|translate}}
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dataSource; let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{data.name}}
                    </td>
                    <td>
                      {{data.companyName}}
                    </td>
                    <td>
                      {{data.idNumber}}
                    </td>
                    <td>
                      {{data.phoneNumber}}
                    </td>
                    <td>
                      {{data.countryName}}
                    </td>
                    <td>
                      {{data.locationName}}
                    </td>
                    <td>
                      {{data.notes}}
                    </td>

                    <td>
                      {{data.createdBy}}
                    </td>
                    <td>
                      {{data.creationDate|date : 'medium':'':'en-US' }}
                    </td>

                    <td>
                      {{data.updatedBy}}
                    </td>
                    <td>
                      {{data.updateDate|date : 'medium':'':'en-US' }}
                    </td>
                    <td>
                      {{data.updateReason}}
                    </td>

                    <td>
                      {{data.deletedBy}}
                    </td>
                    <td>
                      {{data.deleteDate|date : 'medium':'':'en-US' }}
                    </td>
                    <td>
                      {{data.isDeleted ? 'yes' : 'no' |translate}}
                    </td>
                    <td>
                      {{data.deletionReason}}
                    </td>

                    <td>
                      {{GetStatusName(data.status)|translate}}
                    </td>

                  </tr>

                </tbody>
              </table>
              <mat-paginator (page)="handlePaginator($event)"
                [length]="totalCount" showFirstLastButtons
                [pageSize]="MatPaginatorSize?.pageSize"
                [pageSizeOptions]="MatPaginatorSize?.pageSizeOptions"
                aria-label="Select page">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
