<div class="wrapper row" dir="rtl">
    <main class="col-sm-12">
        <span class="num1">4</span>
        <span>
            <!-- <img id="img" src="https://cdn3.vectorstock.com/i/thumb-large/91/22/icon-concept-of-closed-padlock-on-red-background-vector-21599122.jpg" alt="" title=""/> -->
            <span class="material-symbols-outlined icon">
                error
            </span>
        </span>
        <span class="num2">4</span>
        <h1>{{'messages.Not found!'|translate}}</h1>
        <p>{{"messages.Sorry, no content for this page"|translate}}</p>

        <!-- <button mat-flat-button color="primary" (click)="GoToLogin()">
              {{'Home'|translate}}
      </button> -->
    </main>
</div>